<% provide(:title, 'About') %>

<h1>About Quote of the Day</h1>

<p>
  Quote of the day is a website that provides users with the opportunity to browse
  quotes by category, as well as upload their own favorite quotes, categorize them,
  rate them, and add meta tags to enable other users to browse by tags and categories.
</p>