<% provide(:title, 'Home') %>

<div class="row">
  <div class="span9 offset3">
    <article class="qotd-container">
      <h2 class="qotd-title">Quote of the Day</h2>
      <p class="qotd">Happiness is when what you think, what you say,
                      and what you do are in harmony.</p>
      <p class="qotd-author">Mahatma Gandhi</p>
    </article>
  </div><!-- /.span9 offset3 -->
</div><!-- /.row -->