<!DOCTYPE html>
  
<html>
  <head>
    <title>Quote of the Day</title>
  </head>
  <body>
    
    <div>
      <h3>Quote of the Day</h3>
      <form class="form-inline" id="signin">
        <label>Sign in:</label>
        <input type="text" class="input-small" placeholder="username">
        <input type="password" class="input-small" placeholder="password">
        <label class="checkbox">
          <input type="checkbox"> Remember me
        </label>
        <button type="submit" class="btn">Sign In</button>
      </form>
    </div>
    
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="#">Title</a>
        <ul class="nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
        </ul>
      </div><!-- /.navbar-inner -->
    </div><!-- /.navbar -->
    
    <div class="row">
      <div class="span9 offset3">
        <article class="qotd-container">
          <h2 class="qotd-title">Quote of the Day</h2>
          <p class="qotd">Happiness is when what you think, what you say,
                          and what you do are in harmony.</p>
          <p class="qotd-author">Mahatma Gandhi</p>
        </article>
      </div><!-- /.span9 offset3 -->
    </div><!-- /.row -->
    
    <div class="footer">
      <p>Copyright Vezzani 2013</p>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div><!-- /.footer -->
  </body>
</html>