  <header>
    <h3>Quote of the Day</h3>
    <form class="form-inline" id="signin">
      <label>Sign in:</label>
      <input type="text" class="input-small" placeholder="username">
      <input type="password" class="input-small" placeholder="password">
      <label class="checkbox">
        <input type="checkbox"> Remember me
      </label>
      <button type="submit" class="btn">Sign In</button>
    </form>
  </header>