  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="#">Quote of the Day</a>
      <ul class="nav">
        <li class="active"><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
        <li><%= link_to "Help", help_path %></li>
      </ul>
    </div><!-- /.navbar-inner -->
  </div><!-- /.navbar -->